<%= form_for @guest, url: "/convert-guest/#{params[:id]}", method: :put do |f| %>

  <div class="form-group-lg">
    <%= f.label :name %><br>
    <%= f.text_field :name, value: "", class: "form-control", data: {
      :validation => "required",
      "validation-error-msg" => "What's your name?"
    } %>
  </div>
  <div class="form-group-lg">
    <%= f.label :email %><br>
    <%= f.email_field :email, value: "", class: "form-control", data: {
      :validation => "required email",
      "validation-error-msg" => "Please enter a valid email address."
    } %>
  </div>
  <div class="form-group-lg">
    <%= f.label :password %><br>
    <%= f.password_field :password, value: "", class: "form-control", data: {
      :validation => "required validate_min_length length10",
      "validation-error-msg" => "Your password should be 10 characters long - at the very least!"
    } %>
  </div>

  <div class="actions create-user-btn">
    <%= f.submit "Create Account", class: "btn btn-default" %>
  </div>
<% end %>
