<%= render 'shared/sidebar' %>

<div class="account-page col-xs-10">

	<section id="summary" class="col-sm-10 col-sm-offset-1">
		<div class="row">
			<div class="thirds col-sm-4 text-center" id="open-tasks-summary">
				<div class="overview-circle">
					<%= @tasks.count %>
				</div>
				Total Tasks
			</div>

			<div class="thirds col-sm-4 text-center" id="bounty-summary">
				<div class="overview-circle">
					<%= @successful_tasks_count %>
				</div>
				Successful tasks
			</div>

			<div class="thirds col-sm-4 text-center" id="done-vs-donate-summary">
				<div class="overview-circle">
					$<%= @donated_total %>
				</div>
				Total Donated
			</div>
		</div>
	</section>

	<section id="open-tasks" class="task-list">
		<h2>Current Tasks</h2>
		<%= render 'shared/tasks' %>
	</section>

</div>