<div class="container">

	<h1 id="charityh1">Charities</h1>

	<div class="charity row">
		<div class="col-xs-6 col-xs-offset-1">
			<h3>Animals Australia</h3>
			<p>We are Australia's leading animal protection organisation. Our investigations and campaigns are recognised the world over.</p>
			<p>Animals Australia's vision is a world where all animals are treated with compassion and respect and are free from cruelty. We believe that we can create a kinder world for all by fostering respect for animals and that our treatment of animals reflects who we are as individuals and as a society.</p>

			<% if logged_in? %>
				<% if current_user.charity_id == 1 %>
					<a href="#" class="btn btn-primary disabled" role="button">Default charity</a>
				<% else %>
					<%= link_to("Set as my default charity", charity_path(1), method: :put, class: "btn btn-info", role: "button") %>
				<% end %>
			<% end %>
			<a class="btn btn-default" href="http://www.animalsaustralia.org/" role-"button">More info</a>
		</div>

		<div class="col-xs-4">
			<%= link_to 'http://www.animalsaustralia.org/' do %>
				<%= image_tag "animalsaustralia.jpg" %>
			<% end %>
		</div>
	</div>

	<hr>

	<div class="charity row">
		<div class="col-xs-6 col-xs-offset-1">
			<h3>Pencils of Promise</h3>
			<p>It began with a question. A small boy begging in the streets of India.</p>
			<p>“<em>What do you want most in the world?</em> ” I asked.</p>
			<p>“<em>A pencil</em> ” he replied.</p>
			<p>Pencils of Promise is a for-purpose organization that believes every child should have access to quality education.</p>
			<p>We create schools, programs and global communities around the common goal of education for all.</p>

			<% if logged_in? %>
				<% if current_user.charity_id == 2 %>
					<a href="#" class="btn btn-primary disabled" role="button">Default charity</a>
				<% else %>
					<%= link_to("Set as my default charity", charity_path(2), method: :put, class: "btn btn-info", role: "button") %>
					<% end %>
			<% end %>
			<a class="btn btn-default" href="https://pencilsofpromise.org/" role-"button">More info</a>
		</div>

		<div class="col-xs-4">
			<%= link_to 'https://pencilsofpromise.org/' do %>
				<%= image_tag "pencilsofpromise.jpg" %>
			<% end %>
		</div>
	</div>

	<hr>


	<div class="charity row">
		<div class="col-xs-6 col-xs-offset-1">
			<h3>Peter MacCallum Cancer Foundation</h3>
			<p>Peter Mac is Australia’s only public hospital solely dedicated to cancer. Every year at Peter Mac, we care for more than 29,000 cancer patients – more than any other hospital in Australia.</p>

			<p>By donating to Peter Mac, you will help give some of the brightest minds in cancer research the specialised technologies they need to make important new discoveries.</p>

			<% if logged_in? %>
				<% if current_user.charity_id == 3 %>
					<a href="#" class="btn btn-primary disabled" role="button">Default charity</a>
				<% else %>
					<%= link_to("Set as my default charity", charity_path(3), method: :put, class: "btn btn-info", role: "button") %>
					<% end %>
				<% end %>
			<a class="btn btn-default" href="http://www.petermac.org/" role-"button">More info</a>
		</div>

		<div class="col-xs-4">
			<%= link_to 'http://www.petermac.org/' do %>
				<%= image_tag "petermac.jpg" %>
			<% end %>
		</div>
	</div>
</div>