<table class="table table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Time Left</th>
      <th>Bounty</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if @tasks.count >= 1 %>
    <% @tasks.each do |task| %>
    <tr class="<%= task.done_or_donated %>">
      <td><%= task.title %></td>
      <td><%= task.time_left %></td>
      <td>$<%= task.bounty %></td>
      <td class="pull-right but-not-too-far">
        <% if task.completed %>
          <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> <%= task.done_or_donated.capitalize %>
        <% else %>
          <%= link_to("/tasks/#{task.id}/complete", method: :post) do %>
          <button role="button" class="btn btn-default"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Mark as Done!</button>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="4">You have no tasks yet!</td>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="add-new-task" class="text-center">
  <%= link_to new_task_path do %>
  <button type="button" class="btn btn-info btn-lg">Add a new task</button>
  <% end %>
</div>