<section id="home-section">
  <div class="container">

    <div id="homepage-create-task">
      <%= form_for @task do |f| %>

        <div class="form-group-lg set-task">
          <%= f.label "I am going to" %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group set-deadline">
          <%= f.label "by" %><br>
          <%= f.datetime_field :due_date, class: "form-control" %>
        </div>
        <div class="form-group set-bounty">
          <%= f.label "Or I will donate" %><br>
          <%= f.number_field :bounty, class: "form-control" %>
        </div>

        <div class="actions create-task-btn">
          <%= f.submit class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

