<section id="home-section">
  <div class="container">
    <div class="row">


      <div id="introduction" class="col-xs-6">
        <h1>Doing stuff is hard</h1>
        <h3>Sometimes you just need a little <em>motivation</em>.</h3>

        <%= image_tag("how-it-works.png") %>
      </div>

      <div id="homepage-create-task" class="col-xs-5 col-xs-offset-1">
        <%= form_for @task do |f| %>

        <div class="form-group set-task">
          <%= f.label "I am going to:" %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group set-deadline date-picker-container">
          <%= f.label "by" %><br>
          <%= f.datetime_field :due_date, class: "form-control datetimepicker" %>
        </div>
        <div class="form-group set-bounty">
          <%= f.label "Or I will donate" %><br>
          <select name="task[bounty]" id="task_bounty" class="form-control">
            <option value="10">$10</option>
            <option value="25">$25</option>
            <option value="50">$50</option>
            <option value="100">$100</option>
            <option value="1000">$1000</option>
          </select>
        </div>

        <div class="actions create-task-btn">
          <%= f.submit class: "btn btn-default" %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</section>



<section id="banner">
  <header>
    <h2>Put your money where your mouth is</h2>
  </header>
  <p>A brand new site template designed by <a href="http://n33.co">AJ</a> for <a href="http://html5up.net">HTML5 UP</a>.<br>
    It’s fully responsive, built on <strong>skel</strong>, and of course entirely free<br>
    under the <a href="http://html5up.net/license">Creative Commons license</a>.</p>
    <footer>
      <a href="#first" class="button style2 scrolly">Act on this message</a>
    </footer>
  </section>