<section id="home-section">
  <div class="container">
    <div class="row">


      <div id="introduction" class="col-xs-6">
        <h1>Need to get something done?</h1>
        <h3>Put your money where your mouth is.</h3>
      </div>

      <div id="homepage-create-task" class="col-xs-5 col-xs-offset-1">
        <%= form_for @task do |f| %>

        <div class="form-group set-task">
          <%= f.label "I am going to:" %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group set-deadline date-picker-container">
          <%= f.label "by:" %><br>
          <%= f.datetime_field :due_date, class: "form-control datetimepicker" %>
        </div>
        <div class="form-group set-bounty">
          <%= f.label "Or I will donate:" %><br>
          <select name="task[bounty]" id="task_bounty" class="form-control">
            <option value="10">$10</option>
            <option value="25">$25</option>
            <option value="50">$50</option>
            <option value="100">$100</option>
            <option value="1000">$1000</option>
          </select>
        </div>

        <div class="actions create-task-btn">
          <%= f.submit class: "btn btn-info pull-right" %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</section>

<section id="how-it-works">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h2>How it works</h2>

      <p>Done or Donate is a procrastination slayer.</p>

    </div>
  </div>



    <div class="row">
      <div class="col-xs-4 hiw-box hiw-odd">
        <h3>Set a task</h3>
        <p>You know those tasks that really should have done weeks ago, but you keep putting off? It's time to take care of them - once and for all!</p>
        <p>Set a task, and tell us how important it is, and when it needs to be completed by.</p>
      </div>
      <div class="col-xs-4 hiw-box hiw-even">
        <h3>Go and do it</h3>
        <p>Write your novel, go for that run, ask for that payrise. Whatever your task is, you better get a hustle on, the clock is ticking.</p>
        <p>It's now or never, <em>your money is on the line dammit!</em></p>
      </div>
      <div class="col-xs-4 hiw-box hiw-odd">
        <h3>Or else!</h3>
        <p>If you don't mark off your task as 'Done' by your deadline, we will automatically charge your credit card.</p>
        <p>Your money will be donated to charity of your choice - but you're going to complete it anyway right?</p>
      </div>

      <%= image_tag("how-it-works.png") %>

  </div>


</section>


<section id="stats-section">
  <div class="container">

    <div id="stats" class="row">
      <div class="col-xs-3 stats-block">
        <div class="glyphicon glyphicon-star-empty" aria-hidden="true"></div>
        <div class="stats-number">45</div>
        <div class="stats-caption">Tasks</div>
      </div>

      <div class="col-xs-3 stats-block">
        <div class="glyphicon glyphicon-ok-circle" aria-hidden="true"></div>
        <div class="stats-number">37</div>
        <div class="stats-caption">Completed successfully</div>
      </div>

      <div class="col-xs-3 stats-block">
        <div class="glyphicon glyphicon-usd" aria-hidden="true"></div>
        <div class="stats-number">$5,250</div>
        <div class="stats-caption">Donations</div>
      </div>

      <div class="col-xs-3 stats-block">
        <div class="glyphicon glyphicon-heart-empty" aria-hidden="true"></div>
        <div class="stats-number">732</div>
        <div class="stats-caption">Happy cats</div>
      </div>

    </div>

  </div>
</section>



