<section id="home-section">
  <div class="container">

    <%= form_for(@task) do |f| %>

      <div class="form-group">
        <%= f.label "I want to..." %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "by..." %><br>
        <%= f.datetime_field :due_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "Or I will donate" %><br>
        <%= f.number_field :bounty, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit url: tasks_path, method: :post, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</section>
