<!DOCTYPE html>
<html>
<head>
  <title>DoneOrDonate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'shared/navbar' %>

<% if logged_in? %>
	<p>Welcome <%= current_user.name %></p>
	<%= form_tag '/logout', method: :delete do %>
  	<button>Logout</button>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
